<ion-header>
  <ion-toolbar>
    <ion-title>Referencias Personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Lcda. Mariana de Jesus Heredia Reyes</h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        Celular: 0984377441
      </ion-col>
    </ion-row>

    <h2>Dr. Fernando Elizalde Decker  </h2>
    <ion-row>
      <ion-col>
        Celular: 09980900772
      </ion-col>
    </ion-row>

    <h2>Ing. Daniel Carriel Elizalde</h2>
    <ion-row>
      <ion-col>
        Teléfono: 0998016479
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

